.post-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.post-image {
    max-width: 100%;
    height: 300px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.post-image {
    width: 100%;
}